<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/leoluyi/huluwen">「葫蘆問」模擬</a></strong>
			- 葫蘆問，是一種中國傳統擲賽遊戲，各地圖案與稱呼各有不同，常作為新春親友聚會時的遊戲。
            透過模擬方式探究不同玩家、不同順序的輸贏機率
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/leoluyi/ptt_give_dashboard">Shiny dashboard - PTT GIVE 版</a></strong>
			- Using RMarkdown to build an interactive dashboard to monitor the 
            keywords in "PTT give", and deploying to RStudio Connect, which is 
            a powerfult platform to share your R work with others.
		</h5>
    </div>
  </div>
</div>
</section>
